/** {
  border: 1px dashed black;
}*/

html, body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

p {
  text-align: center;
}

.row {
  margin: 0;
  padding: 0;
}