$bgGrey: #e1dfda;
$mainOrange: #ef3e09;
$mainOrangeOpaque: rgba(239, 62, 9, 0.8);
$mainYellow: #fefc34;
$mainYellowOpaque: rgba(254, 252, 52, 0.9);
$labelWhite: #e6e6e6;
$labelWhiteOpaque: rgba(230, 230, 230, 0.2);
$labelGrey: #666;
$labelDarkGrey: #4d4d4d;
$labelDarkGreyOpaque: rgba(77, 77, 77, 0.8);
$darkGrey: #3a3a3a;
$footerGrey: #969696;
$footerLightGrey: #c6c6c6;
$footerBlack: #1a1a1a;
$headerGrey: #696969;
$mainGreen: #12bf0a;
$mainGreenOpaque: rgba(18, 191, 10, 0.6);
$borderGreyRegular: #ccc;
$lightGrey: #d3d3d3;