/*background color and image*/
.bg {
  background: $bgGrey;
  position: relative;
  .bgImg {
    @include position(absolute, $top: 0, $left: 0);
    width: 100%;
    z-index: 1;
  }
}

/*content container*/
.content {
  margin-top: 20px;
  position: relative;
  z-index: 2;
  padding: 0 0 80px 0;
}

/*heading text and logo*/
.heading {
  text-align: center;
  img {
    width: 12%;
  }
  h2 {
    margin: 20px 0;
    padding: 8px;
    color: $mainOrange;
    background: $labelWhiteOpaque;
    font-weight: bold;
  }
}

/*each section and its container*/
.sectionContainer {
  clear: both;
}

.section {
  background: $mainYellowOpaque;
  padding: 0;
  position: relative;
  .sectionImg {
    padding: 10px;
    img {
      width: 100%;
    }
  }
  .sectionText {
    @include position(absolute, 0, 0, 0, 0);
    p {
      font: normal bold 16px "Maiandra GD", monospace;
<<<<<<< HEAD
      @include position(absolute, $bottom: 30%, $right: 5%, $left: 20%);
      text-align: justify;
    }
    .sectionLabel {
      @include position(absolute, $top: 15%, $right: -10%);
=======
      @include position(absolute, $bottom: 80px, $right: 30px, $left: 50px);
      text-align: justify;
    }
    .sectionLabel {
      @include position(absolute, $top: 30px, $right: -30px);
>>>>>>> c1bb60d6b57631b86c08be881eac5d3217753d2d
    }
  }
}

/*label on each section*/
.sectionLabel {
  padding: 8px 24px;
  border: 2px solid $labelWhite;
  background: $labelGrey;
  color: $labelWhite;
  font: normal bold 24px "Cooper Black", sans-serif;
  z-index: 3;
  //@include font-face(Cooper Black, font/cooper_black, bold, normal);
}

/*buttons in each section*/
.btnSection {
  width: 160px;
  height: 40px;
  padding: 5px;
  font: normal normal 22px "Copperplate Gothic Bold", sans-serif;
  background: $labelDarkGrey;
  border: 2px solid $labelWhite;
  color: $labelWhite;
  @include position(absolute, $bottom: 10px, $right: 0);
  text-align: center;
  &:hover {
    text-decoration: none;
    color: $labelWhite;
  }
}

/*middle section orange and text on the right side*/
#sectionMiddle {
  background: $mainOrangeOpaque;
  p {
<<<<<<< HEAD
    @include position(absolute, $bottom: 30%, $left: 5%, $right: 20%);
  }
  .sectionLabelMiddle {
    @extend .sectionLabel;
    @include position(absolute, $top: 15%, $left: -10%);
=======
    @include position(absolute, $bottom: 80px, $left: 30px, $right: 50px);
  }
  .sectionLabelMiddle {
    @extend .sectionLabel;
    @include position(absolute, $top: 30px, $left: -30px);
>>>>>>> c1bb60d6b57631b86c08be881eac5d3217753d2d
  }
  .btnSection {
    @include position(absolute, $bottom: 10px, $left: 0);
  }
}