// selection page elements
.competitor {
  padding: 0;
}

.frame {
  margin: 5px;
  padding: 6px;
  @include border-radius(5px);
  @include box-shadow(2px, 2px, 5px, $labelWhite);
  background: $mainYellow;
  img {
    width: 100%;
    border: 1px solid $labelWhite;
    margin-bottom: 10px;
  }
  h3 {
    margin: 0;
    padding: 5px;
    //@include border-radius(5px);
    //background: $mainGreen;
  }
  h5 {
    margin: 0;
    padding: 5px;
    //@include border-radius(5px);
    //background: $mainGreen;
  }
  &:hover {
    background: $mainGreen;
    cursor: pointer;
  }
}

.unselected {
  background: $mainYellow;
}

.selected {
  background: $mainGreen;
}

// vote button
.btnVotes {
  margin-top: 50px;
}

// for retrieving votes left
#votesLeft {
  display: none;
}

// voting success message
.voteSuccess {
  margin: 0;
  padding: 220px;
  text-align: center;
}

#warningBox {
  padding: 20px;
  display: none;
  border: 2px solid $footerGrey;
  @include border-radius(5px);
  button {
    margin-top: 20px;
  }
}